.login-page-container {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
}

.card-container {
  width: 380px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.greetings {
  text-align: center;
  font-size: 2rem;
  padding: 20px;
  margin-block: 20px;
  box-sizing: border-box;
  font-weight: bolder;
}
