<div class="container">
  <mat-toolbar class="toolbar-flex">
    <span (click)="routeHomePage()" class="">HRIS</span>
    <div>
      <!-- <span>{{ (user$ | async)?.name }}</span> -->
      <button
        mat-icon-button
        class=""
        aria-label="icon-button with login"
        (click)="logout()"
        [matTooltip]="
          (pbAuth.employeeNameValue | async) == undefined ? 'login' : 'logout'
        "
      >
        <mat-icon>{{
          (pbAuth.employeeNameValue | async) == undefined ? "login" : "logout"
        }}</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="components">
    @if(this.pbAuth.isValid()){

    <div class="left-navigator">
      <div class="navigation-buttons">
        @if(this.pbAuth.model().role == 'admin'){
        <button mat-button [routerLink]="'/admin/employees'">
          View employee records
        </button>
        <button mat-button [routerLink]="'/admin/time-logs'">
          Time-in logs
        </button>
        } @if(this.pbAuth.model().role == 'employee'){
        <button mat-raised-button [routerLink]="'/employee/leave-request'">
          Leave request
        </button>
        <button mat-raised-button [routerLink]="'/employee/time-correction'">
          Time correction request
        </button>
        <button mat-raised-button [routerLink]="'/employee/time-in-logs'">
          Time-in logs
        </button>
        }
      </div>
    </div>

    }
    <div class="router-outlet">
      <router-outlet />
    </div>
  </div>
</div>
