.container {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.toolbar-flex {
  display: flex;
  justify-content: space-between;
}
.components {
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
}
.left-navigator {
  width: 250px;
  padding: 20px;
}
.navigation-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
}
.router-outlet {
  flex-grow: 1;
  box-sizing: border-box;
}
.active-link {
  background-color: white;
  opacity: 1;
}
// button {
//   padding: 5px;
// }
