<div class="container mat-elevation-z2">
  <div class="actions">
    <button
      mat-flat-button
      color="primary"
      class="create-employee-button"
      (click)="createEmployeeRecord()"
    >
      + Employee record
    </button>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" [formControl]="search" />
    </mat-form-field>
  </div>
  <div class="table-container custom-scroller">
    <table
      mat-table
      [dataSource]="dataSource.items"
      onRowClick
      matSort
      (matSortChange)="tableEvent($event)"
    >
      @for (column of displayedColumns; track column) {
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column | fullTitleCase }}
        </th>
        <td mat-cell *matCellDef="let element">
          @if (column == 'employedDate') {
          {{ element[column] | date : "mediumDate" }}
          } @else {
          {{ element[column] }}
          }
        </td>
      </ng-container>
      }
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columnsToDisplay"
        (click)="editEmployeeRecords(row)"
      ></tr>
    </table>
  </div>
  <mat-paginator
    [length]="dataSource.totalItems"
    [pageSize]="dataSource.perPage"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="tableEvent($event)"
    aria-label="Select page of GitHub search results"
    class="paginator"
  ></mat-paginator>
</div>
