<div class="container">
  <div class="actions">
    <button
      mat-flat-button
      color="primary"
      class="create-employee-button"
      (click)="createEmployeeRecord()"
    >
      + Employee record
    </button>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" [formControl]="search" />
    </mat-form-field>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource.items" class="mat-elevation-z8">
      @for (column of displayedColumns; track column) {
      <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ column | snakeToTitle }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      </ng-container>
      }
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
  </div>
  <mat-paginator
    [length]="dataSource.totalItems"
    [pageSize]="dataSource.perPage"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="handlePageEvent($event)"
    aria-label="Select page of GitHub search results"
  ></mat-paginator>
</div>
