<div class="container">
  <div class="web-cam-container">
    <div>
      <div class="video-mask mat-elevation-z2">
        <video #video autoplay muted height="500px"></video>
      </div>
    </div>
  </div>
  <div class="time-log-container">
    <div class="infomation-card mat-elevation-z2">
      <h1>Hi!</h1>
      @if(manualTimeLog){
      <p>Please enter your employee email address</p>
      <mat-form-field appearance="outline">
        <mat-label>Email address</mat-label>
        <input
          matInput
          (keyup.enter)="processTimeLog()"
          placeholder="Your employee email address"
          [formControl]="emailAddress"
          required
        />
        @if (emailAddress.getError('notFound')){
        <mat-error
          >We couldn't find an account associated with the email address
        </mat-error>
        } @if (emailAddress.getError('email')){
        <mat-error>Please enter a valid email address</mat-error>
        } @if (emailAddress.getError('somethingWentWrong')){
        <mat-error
          >Server error something went wrong! please contact support</mat-error
        >
        }
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        (click)="processTimeLog()"
        [disabled]="!emailAddress.valid"
      >
        Send time request
      </button>
      <button mat-flat-button (click)="toggleManualTimeLog()">Cancel</button>
      } @if(!manualTimeLog){
      <p>please align your face to the sight of the camera</p>
      <button mat-flat-button color="primary" (click)="toggleManualTimeLog()">
        Manual time-log
      </button>
      }
    </div>
  </div>
</div>
