/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
  --mdc-snackbar-container-color: #c4eedc !important;
  --mdc-snackbar-supporting-text-color: #000000 !important;
  --mat-snack-bar-button-color: #000000;
}
